<div
  class="grid grid-cols-1 lg:grid-cols-3 lg:w-4/5 md:w-full h-screen mx-auto"
>
  <div class="p-5 col-span-2 flex flex-col gap-10 w-full">
    <div class="w-full flex flex-col gap-5">
      <p class="lg:text-2xl text-xl">Hello, I'm</p>
      <p class="lg:text-7xl text-2xl font-semibold">Gururaj J!</p>
    </div>
    <div class="w-full flex flex-col gap-5">
      <p class="lg:text-2xl text-xl">
        An enthusiastic technical professional with a complete understanding of
        the entire software development lifecycle.
      </p>
      <p class="lg:text-2xl text-xl">
        I'm a Frontend Developer, specializing in
        <a
          target="_blank"
          href="https://angular.dev"
          class="inline-block bg-blue-100 text-default-text px-3 rounded-full hover:bg-blue-300 text-center"
        >
          Angular
        </a>
        and I'm passionate about frontend development in general, focused on
        performance, scalability and user experience.
      </p>

      <p class="lg:text-2xl text-xl">
        I'm also thinking of starting to write about my experience with angular
        in
        <a
          target="_blank"
          href="https://jdotgururaj.hashnode.dev"
          class="inline-block bg-blue-100 text-default-text px-3 rounded-full hover:bg-blue-300 text-center"
        >
          Hashnode
        </a>
        Blog. Follow the blog for some awesome articles in the future
      </p>
    </div>
    <div class="w-full flex flex-col gap-5">
      <p class="text-2xl lg:text-4xl font-semibold">Work Experiences:</p>
      <p class="lg:text-2xl text-xl">
        Currently I'm a
        <a
          target="_blank"
          href="#"
          onclick="event.preventDefault()"
          class="inline-block bg-blue-100 text-default-text px-3 rounded-full hover:bg-blue-300 text-center"
        >
          Project Engieer
        </a>
        at Wipro and I'm responsible for developing Enterprize Banking softwares
        from scratch for our client.
      </p>
      <ul class="lg:text-2xl text-xl space-y-2">
        Things I have worked on:
        <li></li>
        <li>- Designing the architecture of the angular application.</li>
        <li>- Creating the application from scratch.</li>
        <li>
          - Focused a lot on making the app fast and able to handle more users
          without breaking a sweat.
        </li>
        <li>
          - Made sure our app is as secure as a vault, keeping all the bad stuff
          out and protecting user data.
        </li>
        <li>
          - Put a lot of effort into making the user interface look good and
          work smoothly, no matter what device you're using.
        </li>
        <li>
          - Did a bunch of testing to catch and fix any bugs, making sure
          everything works just the way it should.
        </li>
        <li>
          - Spent time understanding what our clients need and turning that into
          features that make our app super useful for them.
        </li>
        <li>
          - Used Agile to keep our project on track, always knowing what needs
          to be done next and keeping everyone in the loop.
        </li>
        <li>
          - Kept all our code organized and documented everything we did, so
          anyone in the team can pick up where I left off.
        </li>
      </ul>
      <p class="lg:text-2xl text-xl">
        Also, I've had to improve large legacy single page applications, by
        adding new features and refactoring, while making sure they continue to
        work undisturbed in production.
      </p>
      <p class="lg:text-2xl text-xl">
        Using Angular and React with a variety of libraries and other frameworks
        like NgRx, Redux, Axios, Tailwind, GraphQL, RxJS, .Net and more,
        targeting all platforms including iOS, Android, Desktop apps, etc,. is
        something I'm very familiar with.
      </p>
    </div>
  </div>
  <div
    class="col-span-1 m-5 h-full border-t border-red-700 lg:border-t-0 lg:border-l flex flex-col gap-2 p-3"
  >
    <button
      class="bg-pink-200 font-semibold text-pink-900 py-1 text-sm rounded-full hover:bg-pink-300 transition-colors duration-300 ease-in-out"
    >
      <a href="https://github.com/Gururajj77" target="_blank">Github Profile</a>
    </button>
    <button
      class="bg-purple-200 font-semibold text-purlple-900 py-1 text-sm rounded-full hover:bg-purple-300 transition-colors duration-300 ease-in-out"
    >
      <a href="https://www.linkedin.com/in/gururaj-j-7271a019a/" target="_blank"
        >LinkedIn</a
      >
    </button>
    <button
      class="bg-green-100 font-semibold text-green-900 py-1 text-sm rounded-full hover:bg-green-300 transition-colors duration-300 ease-in-out"
    >
      <a href="https://jdotgururaj.hashnode.dev/" target="_blank"
        >Hashnode Blog</a
      >
    </button>
  </div>
</div>
